@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply h-full from-blue-800 via-indigo-800 to-blue-600 bg-gradient-to-r w-full;
}
.header__title {
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-3rem);
}
